#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* custom.css */
.navbar-nav .nav-item .nav-link:hover {
  color: blue; /* Change to your desired text color on hover */
  background-color: #f0f0f0; /* Change to your desired background color on hover */
  /* Add any other styling you want for the hover effect */
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

.brand-name {
  color: red;
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.navbar-nav {
  color: white;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
}

.brand-description {
  color: black;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
}

